* {
    text-decoration:  none;
    font-family: arial;
    color: #272222;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}
a {
	text-decoration:  none;
	color: #272222;
	font-size: 14px;
}
a:hover {
	text-decoration:  none;
}
.clr {
	clear: both;
}
.top-header {
	margin: 0;
	padding: 0 50px;
    background-color: #f3f3f3;
    line-height: 40px;
    border: 1 solid #ffffff;
}
.left-top-header ul li {
	display: inline-block;
	margin-right: 10px;
}
.right-top-header .user {
	display: inline;
}

.center-header {
    background: #d2bac40d;
    margin: 0;
}

.left-center-header {
}

.left-center-header img {
	width: 430px;
}

.right-center-header {
	padding: 20px 0;
}

.right-center-header .search {
	display: inline;
}

.right-center-header .search #timkiem {
	width: 360px;
	height: 38px;
	border: 1 solid #20c6e8;
}

.right-center-header .search #tim {
	width: 38px;
	height: 38px;
	line-height: 34px;
	color: #333;
	font-weight: bold;
	background-color: #00a2e8;
	cursor: pointer;
}

.right-center-header .danhmuc-search {
	float: left;
	height: 38px;
}

.center-header .upnew-button {
	padding: 30px;
}
.center-header .upnew-button input {
	margin-top: 5px;
	height: 40px;
	width: 200px;
	cursor: pointer;
	font-size: 16px;
	color: #fff;
	background-color: #ff0000;
	border: 2px solid #ff1a1a;
	border-radius: 8px;
	margin-right: 20px;
}

.center-header .upnew-button input:hover {
	font-weight: bold;
	color: #fff;
	background-color: #3399ff;
}

.tail-header {
	padding: 0 50px;
	line-height:  50px;
	background: #0c0404;
}
.tail-header ul {
	padding-left: 10px;
}
.tail-header ul li {
	display: inline-block;
}
.tail-header ul li a{
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	height: 50px;
	line-height:  50px;
	color: #ffffff;
}
.tail-header ul li a:hover {
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	height: 48px;
	border-top: 1px solid black; 
	border-bottom: 1px solid black; 
	line-height:  48px;
	color: black;
	background: #FFFFFF;
	text-decoration:  none;
}

/*==========FOOTER=============*/
.footer {
	background: #2A2A2A;
	padding: 0 50px;
	margin: 0;
}
.footer .left-footer {
	margin: 30px 0px 10px 0px;
}
.footer .left-footer .logo-left-footer {
	width: 350px;
	height: 120px;
	background: #7F7F7F;
	margin-bottom: 20px;
}
.footer .left-footer h3 {
	color: #acacac;
	border-bottom: 1px solid #acacac;
	margin: 10px 60px;
	padding: 0px 2px 8px 42px;
}
.footer .left-footer .icon-left-footer {
	margin: 10px 93px;
}

.footer .left-footer .icon-left-footer a {
	margin: 0 5px;
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	padding-top: 10px;
	border: 1px solid #acacac;
	border-radius: 50%; 
	font-size: 20px;
	color: #acacac;
}

.footer .left-footer .icon-left-footer a:hover {
	color: #ffffff;
	border: 1px solid #ffffff;
}

.footer .center-footer {
	margin: 55px 0px 0 0px;
	padding-right: 30px;
}

.center-footer ul {
	margin-top: 10px;
	padding-left: 20px;
}

.center-footer ul li {
	height: 28px;
	line-height: 28px;
	list-style-type: square;
	color: #acacac;
	margin: 5px 0;
}

.footer .center-footer a {
	color: #acacac;
}

.center-footer ul li a:hover {
	color: #fff;
	text-decoration: underline;
}

.title-footer {
    color:  #acacac;
    height:  40px;
    line-height:  30px;
    border-bottom:  1px solid;
    margin-bottom: 5px;
    padding-bottom: 10px;
    font-size: 22px;
}

.footer .right-footer {
	margin: 55px 0px 10px 0px;
}

.footer .right-footer a {
	color: #acacac;
	display: block;
	margin: 14px 0;
}

.footer .right-footer a:hover {
	color: #fff;
}

.footer .right-footer a span {
	margin: 0 5px;
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	padding-top: 7px;
	border: 1px solid #acacac;
	border-radius: 50%; 
	font-size: 16px;
	color: #acacac;
}

.tail-footer {
	height: 40px;
	background-color: #141414;
	text-align: center;
	font-size: 15px;
	padding: 15px 50px 0;
	color: #7c7c7c;
}
.header-contentadmin {
	background: #EBEBEB;
	margin: 0;
	padding: 0;/*
	min-height: 500px;*/
	padding-bottom: 10px;
}
.header-contentadmin .title-admin {
	height: 40px;
	line-height: 40px;
	padding: 0;
	width: 100%;
	display: block;
	border-top: 1px solid #FFFFFF;
}
.header-contentadmin h2.title-admin {
	text-align: center;
	font-size: 20px;
}
.header-contentadmin li.title-admin {
	height: 40px;
	line-height: 40px;
	padding: 0 0 0 20px;
	width: 100%;
	display: block;
	border-top: 1px solid #FFFFFF;
	background: #b9b9b9;
}
.header-contentadmin .title-admin a {
	height: 40px;
    line-height: 40px;
    display: block;
    font-size: 16px;
    color: #304c44;
    padding-left: 5px;
}
.header-contentadmin .title-admin a:hover {
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #37a4c5;
    padding-left: 5px;
	background: #b9b9b9;
}
.goods {
	text-align: center;
}
.goods tr,th,td {
	border: 1px solid black;
	padding: 2px 10px;
	min-width: 100px;
}
.goods td img {
	height: 50px;
}
.content h2 {
	text-align: left;
	font-size: 25px;
	padding: 10px 0;
}
a
.goods {
	text-align: center;
}
.goods tr,th,td {
	border: 1px solid black;
	padding: 2px 10px;
	min-width: 100px;
}
.goods td img {
	height: 50px;
}
.content h2 {
	text-align: left;
	font-size: 25px;
}
a.button-add span {
	padding: 5px 10px;
	margin: 10px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    background: #FFFFFFB3;
}
.content-admin {
	padding: 20px 60px 20px 60px;
	background-color: #ebebeb;
}

.content-admin .header-title {
	background-color: #ffffff;
	border-bottom: 3px solid #00a2e8;
	height: 50px;
}

.content-admin .header-title div {
	font-size: 25px;
	text-align: center;
	width: 50px;
	line-height: 50px;
	background-color: #00a2e8;
}

.content-admin .header-title a {
	display: inline-block;
	line-height: 50px;
	font-size: 24px;
	padding-left: 40px;
	font-weight: bold;
	color: #00a2e8;
}

.content-admin .background {
	height: 350px;
	background-image: url('../images/cover.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
}

.content-admin .avatar {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	border: 2px solid #8c8c8c;
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.content-admin  .username {
	font-size: 28px;
	color: #fff;
	font-weight: bold;
	text-shadow: 2px  2px #8c8c8c;
	position: absolute;
	bottom: 80px;
	left: 200px;
}

.content-admin .user-infomation {
	margin: 20px 0;
	background-color: #fbfbfb;
	overflow: hidden;
	font-size: 16px;
}

.content-admin .user-infomation h2 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.content-admin .user-infomation .introduce {
	padding: 30px 30px;
	width: 50%;
	float: left;
}

.content-admin .user-infomation .introduce p {
	padding: 10px 30px 5px 20px;
}

.content-admin .user-infomation .contact-info {
	padding: 30px 40px 25px 40px;
	width: 50%;
	float: right;
}

.content-admin .user-infomation .contact-info span {
	font-style: italic;
	font-weight: bold;
	color: #4d4d4d;
}

.content-admin .user-infomation .contact-info ul {
	padding: 10px 30px;
	list-style-type: square;
}

.content-admin .user-infomation .contact-info ul li {
	margin: 0 0 10px 5px;
}

.content-admin .user-infomation .contact-info ul li a {
	font-size: 16px;
	color: #0099e6;
	font-weight: bold;
}

.content-admin .user-infomation .contact-button {
	padding-left: 30px;
}

.content-admin .user-infomation .contact-button a {
	display: inline-block;
	text-align: center;
	font-size: 20px;
	line-height: 40px;
	width: 150px;
	height: 42px;
	color: #fff;
	background-color: #4a4a4c;
	border: 2px solid #4a4a4c;
}

.content-admin .user-infomation .contact-button a:hover {
	background: #fff;
	color: #333;
}
.header-title {
	background: #142F30;
	border-bottom: 3px solid #00a2e8;
	margin: 10px 0px 20px 0;
}

.header-title div {
	font-size: 25px;
	text-align: center;
	width: 50px;
	line-height: 50px;
	background-color: #00a2e8;
}

.header-title .tit {
	display: inline-block;
	font-size: 20px;
	padding-left: 10px;
	font-weight: bold;
	color: #00a2e8;
	text-transform: uppercase;
}
.content {
}
.content .content-right {
	border-left: 10px solid #FFF;
	background: #EBEBEB;
	padding-bottom: 20px;
}